<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SocialPot</title>
    <style>
        *{
            padding: 0px 0px;
            margin: 0px 0px;
            box-sizing: border-box;
        }
        body{
            display: flex;
            flex-direction: column;
            align-content: stretch;
            flex-wrap: wrap;
        }
       .hero{
        background-color: #2632B5;
        padding: 30px 30px;
       }
       .hero h1{
        
       }
    </style>
</head>

<body>
    <!-- <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">SocialPot</a></li>
                <li><a href="">Sign Up</a></li>
                <li><a href="">Sign In</a></li>
            </ul>
        </nav>
    </header> -->
    <main>
        <section class="hero">
            <h1>Social Pot</h1>
            <p>Place that ease your life with evryday use tools </p>
            <div class="btnholder">
                <button>Sign In</button>
                <button>Sign Up</button>
            </div>
            
        </section>
        <section class="tools">
            {% for items in Toolitems %}
            <div class="tool">
                <h3>{{items.ToolName}}</h3>
                <p>{{items.ToolDescription}}</p>
                <img src="{{items.Image.url}}" alt="">
            </div>
            {% endfor %}
        </section>
        <section class="login">
            <img src="" alt="">
            <form action="login_user">
                <div>
                    <h3>Sign In</h3>
                    <input type="text" name="Username" id="Username" placeholder="User Name">
                    <input type="password" name="Password" id="Password" placeholder="Password">
                    <p>Don't have an account ? <a id="singupinvok">Sign Up</a> </p>
                    <button>Sign In</button>
                </div>
            </form>
        </section>
        <section class="signup">
            <form action="create_user">
                <img src="" alt="">
                <div>
                    <h3>Sign Up</h3>
                    <input type="text" name=" Name" placeholder="Name">
                    <input type="text" name="Username" placeholder="User Name">
                    <input type="password" name="Password" id="Pass" placeholder="Password">
                    <input type="password" name="ConfirmPassword" id="ConfirmPass" placeholder="Confirm Password">
                </div>
            </form>
        </section>
    </main>
    <footer>
        <div>
            
                <ul>
                    <h3>Useful Links</h3>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Sing Up</li>
                    <li>Sign In</li>
                    <li>Log Out</li>
                </ul>
                <ul>
                    <h3>Tools</h3>
                    {% for items in Toolitems  %}
                    <li><a href="{{items.Urlpattern}}">{{items.ToolName}}</a></li>
                    {% endfor %}
                </ul>
                <ul>
                    <h3>Design And Code</h3>
                    <li>Anurag Kumar Tiwari</li>
                    <li><a href="https://anuragkumart16.github.io">Portfolio</a></li>
                </ul>
            
        </div>
    </footer>

</body>

</html>